				<div class="tabs">
					<div id="tab-1" class="tab">
						<article>
							<div class="text-section">
								<h1><p id="notice"><%= notice %></p></h1>
							</div>
							
						<ul class="states" >
							<h1>新增药品信息</h1>
								<%= render 'form'%>

							</ul>

						</article>
					</div>
				</div>
