<!DOCTYPE html>
<html>
<head>
  <title>YM CRM</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link media="all" rel="stylesheet" type="text/css" href="/css/all.css" />
  	<script type="text/javascript">window.jQuery || document.write('<script type="text/javascript" src="/js/jquery-1.7.2.min.js"><\/script>');</script>
  	<script type="text/javascript" src="/js/jquery.main.js"></script>
</head>

<%= yield %>

</html>